.slideimages {
    margin-top: 100px;
    height:80vh;
}
ul {
    /* list-style-type: "*"; */
    /* list-style-image: url(images/bullet.png); */
}
/* Slides */
.mainTitle {
    padding-top:120px;
    padding-bottom: 0px;
    margin:0;
    text-align: center;
    color: #0081C9;
}
.subTitle {
    text-align: center;
    color: #5BC0F8;
    margin:0;
    padding: 0;
}
.h3Title {
    text-align: center;
    color: #0081C9;
    margin:0;
    padding: 0;
    border: 8px solid white;
    border-radius: 12px;
    padding:10px;
    margin-bottom: 10px;
}
.pTitle {
    text-align: center;
    color: #5BC0F8;
    margin:0;
    padding: 0;
    font-weight: bold;
    margin-left: 10px;
}
.aboutTitle {
    padding-top:80px;
    padding-bottom: 0px;
    margin:0;
    text-align: center;
    color: #0081C9;
}
.aboutContent {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 20px;
    padding-bottom:80px;
}
.aboutall {
    background-color: #d5f5ef;
    margin-top: 20px;
}
.featureall {
    margin-top: 20px;
}
.featuer1 {
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.featureContent {
    border: solid 4px #d5f5ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height:250px;
    width: 260px;
    border-radius: 110%;
    margin: 20px;
    background-color: white;
}
.featureInner {
    /* margin: 20px; */
    height:200px;
    width: 210px;
    border-radius: 110%;
    background-color: #d5f5ef;
    padding: 10px;
}
.featureDesc {
    font-weight: bold;
    color: #0081C9;
}

.customerall {
    margin-top: 20px;
    background-color: #d5f5ef;
}
.customer1 {
    display: flex;
    align-items: center;
}
.customerContent {
    border: solid 1px rgb(203, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.customerDesc {
    font-weight: bold;
    color: #0081C9;
}
.customerDescdetail {
    color: #5BC0F8;
}
.ProgressContent {
    justify-content: center;
    align-items: center;
}
/* Slider */
.wrap 
{
    /* grid-column-start:1;
    grid-column-end:11; */
    /* grid-row-start:2;
    grid-row-end:3; */
    /* border-bottom: 1px solid black; */
    display: flex;
    align-items: center;
    /* padding-top:100px; */
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content 
{
    width: 640px;
    height: 425px;
    margin-right: 5px;
}
  
.slideshow 
{
    display: flex;
    animation: loop-slide 90s infinite linear 0s both;
}
  
@keyframes loop-slide 
{
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}
